<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="productInventory" class="com.sam.target.inventory.ProductInventory"/>

       <bean id="supplierServiceManager" class="com.sam.target.supplier.service.SupplierServiceManager"/>

       <bean id="customerServiceManager" class="com.sam.target.customer.service.CustomerServiceManager"/>


</beans>